[submodule "dependencies/software_wgm_v2_cpp"]
	path = dependencies/software_wgm_v2_cpp
	url = https://github.com/theionSami/software_wgm_v2_cpp.git
	branch = dev_win_api
[submodule "dependencies/database/sqlite3-cmake"]
	path = dependencies/database/sqlite3-cmake
	url = https://github.com/alex85k/sqlite3-cmake.git
[submodule "pkg/soft_wgm_installer_update"]
	path = pkg/soft_wgm_installer_update
	url = https://github.com/theion-batteries/soft_wgm_installer_update.git
