[submodule "dependencies/software_wgm_v2_cpp"]
	path = dependencies/software_wgm_v2_cpp
	url = https://github.com/theionSami/software_wgm_v2_cpp.git
	branch = dev_win_api
[submodule "dependencies/database/sqlite3-cmake"]
	path = dependencies/database/sqlite3-cmake
	url = https://github.com/theionSami/sqlite3-cmake.git
	branch = dev_win_api
[submodule "pkg/soft_wgm_installer_update"]
	path = pkg/soft_wgm_installer_update
	url = https://github.com/theion-batteries/soft_wgm_installer_update.git
	branch = dev_win_api
[submodule "dependencies/soft_test_industrial_camera"]
	path = dependencies/soft_test_industrial_camera
	url = https://github.com/theion-batteries/soft_test_industrial_camera.git
	branch = dev_win_api
